.Title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 4em;
}

.TitleBannerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; 
  
   
}