.Title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    text-decoration: underline;
    margin-right: 4em;
    font-family: 'Cormorant SC', serif;
}

.TitleBannerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; 
  
   
}