.Title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    text-decoration: underline;
    margin-right: 4em;
    font-family: 'Cormorant SC', serif;
    color: rgb(211, 201, 201);
}

.TitleBannerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    padding-bottom: 0px;
    background-color: rgb(224, 10, 10);
  
   
}